<div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col col-xl-10">
			<div class="card" style="border-radius: 1rem;">
				<div class="row g-0">
					<div class="col-md-3 col-lg-3 d-none d-md-block">
					</div>
					<div class="col-md-6 col-lg-6 d-flex align-items-center">
						<div class="card-body p-4 p-lg-5 text-black">
							<form [formGroup]="form"
								(ngSubmit)="form.valid && onSubmit()"
								novalidate>
								<div class="d-flex align-items-center mb-3 pb-1">
									<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
									<span class="h1 fw-bold mb-0" *ngIf="isAddMode">Dodaj mieszkanie</span>
									<span class="h1 fw-bold mb-0" *ngIf="!isAddMode">Edytuj mieszkanie</span>
								</div>
								<div class="form-outline mb-4">
									<input type="text" id="form2Example17" class="form-control form-control-lg"
									formControlName="name"/>
									<label class="form-label" for="form2Example17">Nazwa mieszkania</label>
								</div>
								<div class="form-outline mb-4">
									<input type="number" id="form2Example27" class="form-control form-control-lg"
									formControlName="number"/>
									<label class="form-label" for="form2Example27">Numer</label>
								</div>
								<div class="form-outline mb-4">
									<select formControlName="buildingid" class="form-select">
										<option *ngFor="let b of buildings" [value]="b.id">{{b.id}}</option>
									</select>
									<label class="form-label" for="form2Example27">Budynek</label>
								</div>
								<div class="form-outline mb-4">
									<select formControlName="tenantid" class="form-select">
										<option *ngFor="let u of users" [value]="u.id">{{u.firstName}} {{u.lastName}} - {{u.email}}</option>
									</select>								
									<label class="form-label" for="form2Example27">Lokator</label>
								</div>
								<div class="pt-1 mb-4">
									<button class="btn btn-dark btn-lg btn-block">Zapisz</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>