<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	<div class="container">
		<a class="navbar-brand" href="#">
			<h1>ManagementApp</h1>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item" *ngIf="!isLoggedIn">
					<a class="nav-link" routerLink="/"><i class="fas fa-sign-in-alt"></i>Logowanie</a>
				</li>
				<li class="nav-item" *ngIf="!isLoggedIn">
					<a class="nav-link" routerLink="/register"><i class="fas fa-file-signature"></i>Rejestracja</a>
				</li>
				<li class="nav-item" *ngIf="isLoggedIn">
					<a class="nav-link" routerLink="/user"><i class="fas fa-sign-in-alt"></i>Panel użytkownika</a>
				</li>
				<li class="nav-item" *ngIf="isLoggedIn">
					<a class="nav-link" (click)="logout()"><i class="fas fa-file-signature"></i>Wyloguj</a>
				</li>
			</ul>
		</div>
	</div>
</nav>